{% load static %}
{% csrf_token %}
<html>
    <head>
        <meta charset="utf-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </head>
    
    <style>
        .infinite-item{ 
            height:500px; 
            background-color: antiquewhite;
            margin-bottom: 5px;
        }
    </style>

    <body>
        {% if post_list %}
        <div id="post_list" class="infinite-container">
            {% for list in post_list %}
                <div class="infinite-item">{{list.name}}</div>
            {% endfor %}
        </div>
        <!-- {% if data.has_next %}
            <p class="pagination">
                <a class="infinite-more-link" href="?page={{data.next_page_number}}">더보기</a>
            </p>
        {% endif %} -->

        {% endif %}
        <!-- 기본적으로 다음 페이지 지정해주기 위함 아마 수정해야 될거같긴함 -->
        <input id="page" type="hidden" value="2">
    </body>

    <script>
        var token = $('input[name="csrfmiddlewaretoken"]').prop('value');
        var page = $("#page").val();

        $(window).scroll(function(){
            // 현재 하단 스크롤 위치
            var scrollHeight = $(window).scrollTop() + $(window).outerHeight();
            // 페이지 전체 높이
            var documentHeight = $(document).height();

            if(scrollHeight==documentHeight && page!=="{{totalPage}}") {
                page = $("#page").val();
                callMorePostAjax(page);
                $("#page").val(parseInt(page)+1);
            }
        });
        
        // 다른 페이지에서 다음 페이지 정보를 로드해서 갖고옴
        function callMorePostAjax(page) {
            $.ajax({
                type:'POST',
                url: "{% url 'board:test_ajax' %}",
                data: {
                    'page': page,
                    'csrfmiddlewaretoken': token
                },
                success: addMorePostAjax,
                dataType: 'html'
            });
        }
        // 다음 페이지 게시글을 아래에 추가
        function addMorePostAjax(data, textStatus, jqXHR) {
            $('#post_list').append(data);
        }
    </script>
</html>