{% if board %}

      {% for postlist in board %}
      <!-- Post -->
      <div class="post infinite-container" id="post{{postlist.id}}">

            <!-- 게시글 제목 -->
            <header>
                  <div class="title">
                        <h2><a href="#">{{postlist.title}}</a></h2>
                  </div>
                  <div class="meta" style="padding:20px; padding-top:55px">
                        <time style="" datetime="{{postlist.date_posted}}">{{postlist.date_posted}}</time>
                        <br>
                        <label style="color:black; font-size:14px; height: 45px; line-height: 45px;">{{postlist.writer_name}}</label>
                  </div>
            </header>
            
            {% if store.owner_id == user.id %}
                  <div class="uniform" style="width: 100%; display: flex; justify-content: right; align-items: right; flex-direction: row;">
                        <!-- <input class="button big"  style="margin-right:5px;" type="button" value="수정" /> -->
                        <input class="button big" type="button" onclick="deleteBoard('{{postlist.id}}','{{store.id}}')" value="삭제" />
                  </div>
            {% endif %}

            <a href="#" class="image featured"><img src="{{postlist.thumbnail}}" alt="" /></a>
            {{postlist.content | safe}}
            
            <div id="items">
                  <!-- 물품 들어갈 자리 -->
                  {% if postlist.item %}
                              <hr>
                              <div class="row uniform" style="margin-top: 10px; display: flex; justify-content: center; align-items: center; flex-direction: column;">
                                    <div class="8u$" id="itemselect">
                                          <div class="select-wrapper">
                                                <select name="demo-category" id="postItem{{postlist.id}}" onchange="selectItem({{postlist.id}})">
                                                      <option value="none"> 품목 </option>
                                                      {% for idx in item %}
                                                            {% if idx.board_id.id == postlist.id %}
                                                                  <option value="{{idx.id}}">{{idx.name}}</option>
                                                            {% endif %}
                                                      {% endfor %}
                                                </select>
                                          </div>
                                    </div>
                                    <div class="8u$" id="selectedItems{{postlist.id}}">
                                          <!-- 선택된 물품이 들어갈 자리 -->
                                    </div>

                                    <div class="8u$">
                                          <label style="color:black; font-size:16px; height: 45px; line-height: 45px;">총 상품 금액</label>
                                          <label for="itemprice" style="padding:0; margin-top:5px; margin-right:45px; height: 45px; font-size:26px; color:red; float: right;">원</label>
                                          <input style="text-align:right; color:red; margin:0; margin-right:10px; padding:0px; height: 45px; width:100px; font-size: 26px; float: right; font-weight: bold; display:inline; border:none; " type="text" name="totalPrice{{postlist.id}}" value=0 disabled>
                                    </div>
                                    
                                    <div class="8u$">
                                          <ul class="actions fit">
                                                <li><input type="submit" value="장바구니 담기" /></li>
                                                <li><input style="margin-left:133px;" type="reset" value="취소" /></li>
                                          </ul>
                                    </div>
                              </div>
                  {% endif %}
            </div>

            <div style="margin-top:30px; margin-left:0px" class="8u$">
                  <a style="float: left; margin-right:200px" id="heart" href="#!"><i style="color:black;"id="{{postlist.id}}" class="fa fa-plus-square-o fa-2x"></i></a>
                  {% comment %} <button type="button" id="allCommentView{{postlist.id}}" onclick="callMoreCommentAjax({{postlist.id}},false);">^</button> {% endcomment %}
            </div>

            <div id="comment{{postlist.id}}" class="12u$">
                  <!-- 댓글 들어갈 자리 -->
                  <script>
                        loadCommentAjax({{postlist.id}}, 'first');
                  </script>
            </div>

            <!-- <div class="8u$" style="display: inline;">
                  <input style="display: inline; width:500px; margin:0px margin-left:30px"id="inputComment{{postlist.id}}" type="text" placeholder="댓글을 남겨주세요." />
                        <button type="button"
                        style=
                              "
                              margin-left: 20px;
                              padding: 0px;
                              border-radius: 10px;
                              height: 45px;
                              width: 75px;
                              text-align: center;
                              "
                        onclick="callMoreCommentAjax({{postlist.id}},true);">보내기</button>
            </div> -->

      </div>
      {% endfor %}


{% endif %}