{% if comment %}
      {% if comment|length == 0 %}
            <div class="12u$" id="comment{{comment.id}}">
                  <label style="color:black; font-size:14px; height: 45px; line-height: 45px;">{{comment.writer_name}}</label> 
                  {{comment.date_posted}}
                  <br>
                  {{comment.content}}
                  <hr style="margin-top:10px">              
            </div>
      {% else %}
            {% for commentlist in comment %}
                  {% if commentlist.board_id == board.id %}
                        <div class="12u$" id="comment{{commentlist.id}}">
                              <label style="color:black; font-size:14px; height: 45px; line-height: 45px;">{{commentlist.writer_name}}</label> 
                              {{commentlist.date_posted}}
                              <br>
                              {{commentlist.content}}
                              <hr style="margin-top:10px">
                        </div>
                  {% endif %}
            {% endfor %}
      {% endif %}
{% endif %}