{% load static %}
{% load account socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<title>Magnet - Minimal Portfolio Template</title>

<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
<link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">

<!-- Main css -->
<link rel="stylesheet" href="{% static "css/style.css" %}">
<link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,700" rel="stylesheet">

</head>
<body>
<!-- PRE LOADER -->

<div class="preloader">
     <div class="sk-spinner sk-spinner-wordpress">
          <span class="sk-inner-circle"></span>
     </div>
</div>

<!-- Navigation section  -->

<div class="navbar navbar-default navbar-static-top" role="navigation">
     <div class="container">
          <div class="navbar-header">
               <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
               </button>
               <a href="{% url 'mainpage:mainpage' %}" class="navbar-brand"><img class="logo" src="{% static 'images/logo.png' %}"></a>
          </div>
          <div class="collapse navbar-collapse">
               <ul class="nav navbar-nav navbar-right">
                    <!-- <li class="active"><a href="index.html">Projects</a></li> -->
                    {% if user.is_authenticated %}
                    {{user.username}} 님이 로그인중
                    <li><a href="#" class="fa fa-shopping-cart"></a></li>
                    <li><a href="{% url 'mainpage:mypage' %}" class="fa fa-user"></a></li>
                    <li><a href="{% url 'accounts:logout' %}">Logout</a> </li>
                    {% else %}
                    <li><a href="{% url 'accounts:login' %}">Login</a> </li>
                    {% endif %}
               </ul>
          </div>

  </div>
</div>

<!-- Contact Section -->
<section id="contact">
     <div class="container">
          <div class="row">
               <div class="col-md-offset-1 col-md-10 col-sm-12">
                    <div class="section-title"> 
                         <h3>가게 열기</h3>
                    </div>
                    <form id="storePost" name=storePost" style="display: block;" method="post" action="{% url 'mainpage:saveStore' %}" enctype="multipart/form-data" onsubmit="return false">
                         {% if user.is_authenticated %}
                         <input type="text" name="owner" value={{user.id}} style="display: none">
                         {% endif %}
                         <div class="col-md-6 col-sm-6">
                              <label for="name">가게이름</label> 
                              <input class="form-control" type="text" name="name" placeholder="가게 이름 입력">
                         </div>
                         <div class="col-md-6 col-sm-6">
                              <label for="category">카테고리</label> 
                         <select class="form-control" name="category">
                              <option value="농산물">농산물</option>
                              <option value="수산물">수산물</option>
                              <option value="축산물">축산물</option>
                              <option value="반찬">반 찬</option>
                              <option value="의류">의 류</option>
                              <option value="건강식품">건강식품</option>
                          </select>
                         </div>
                         <div class="col-md-6 col-sm-6">
                              <label for="marketNum">시장</label>
                              <input class="form-control" type="text" name="marketNum" id="marketNum" value={{selectMarketName}} readonly>
                         </div>
                         <div class="col-md-6 col-sm-6">
                              <label for="input-image">업로드</label>
                              <input class="form-control" type="file" name="imgs" id="input-image">
                         </div>
                         <div class="col-md-6 col-sm-6">
                              <label for="address">주소</label> 
                              <input onclick="showAdress();" class="form-control" type="text" id="address" name="address" placeholder="주소를 입력하려면 클릭해주세요" readonly>
                              <input class="form-control" type="text" id="addressSub" name="addressSub" placeholder="상세주소">
                              <!-- <button class="btn" id="btn" onclick="showAdress(); " style="background-color: #14AD03;">주소찾기</button> -->
                         </div>
                         <div class="col-md-6 col-sm-6" style="text-align: center;">
                              <img style="height: 155px; object-fit: fill;" id="preview-image" src="{% static 'images/example.png' %}">
                         </div>
                         <div class="col-md-12">
                              <label for="introduce">가게 소개글</label>
                              <textarea class="form-control" name="introduce" id="introduce" style="resize: none;"></textarea>
                         </div>
                         <div class="col-md-11">
                              <button style="margin-left: auto;" class="btn" id="btn" onclick="" >취소</button>
                              <button class="btn" id="btn" onclick="send();" style="background-color: #14AD03;">완료</button>
                         </div>
                    </div>
                    </form>
               </div>
               </div>

          </div>
     </div>
</section>

<!-- Footer Section -->

<!-- SCRIPTS -->

<script src="{% static "js/jquery.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/custom.js" %}"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script> 
<script>
function send() {
     alert("가게 생성?"); 
     document.getElementById("storePost").submit();
}
function showAdress(){
    new daum.Postcode({
          oncomplete: function(data) {    
               var addr = '';
               if(data.userSelectedType === 'R'){
                    addr = data.roadAddress;
               }else{
                    addr = data.jibunAddress;
               }
               document.getElementById("address").value = addr; 
          }
    }).open();
}
function readImage(input) {
    // 인풋 태그에 파일이 있는 경우
    if(input.files && input.files[0]) {
        // 이미지 파일인지 검사 (생략)
        // FileReader 인스턴스 생성
        const reader = new FileReader()
        // 이미지가 로드가 된 경우
        reader.onload = e => {
            const previewImage = document.getElementById("preview-image")
            previewImage.src = e.target.result
        }
        // reader가 이미지 읽도록 하기
        reader.readAsDataURL(input.files[0])
    }
}
// input file에 change 이벤트 부여
const inputImage = document.getElementById("input-image")
inputImage.addEventListener("change", e => {
    readImage(e.target)
})
</script>
</body>
</html>