{% if stores %}

      {% for store in stores %}
            {% if store.category == item %}
                  <div class="infinite-container">
                        <div class="col-md-7">
                        <a href="#!"><img class="img-fluid rounded mb-3 mb-md-0" src="{{store.mainimage.url}}" width="450"></a>
                        </div>
                        <div class="col-md-5">
                        <h2 class="card-title"><a href="#!">{{ store.name }}</a></h2>
                        <p>{{ store.introduce }}</p>
                        </div>
                  </div>
                  <hr />
            {% endif %}
      {% endfor %}

{% endif %}